:root {
    --b: #0092d7;
    --bl: #02a4f0;
    --g-A8: #a8a8a8;
    --g-F1: #f1f1f1;
    --g-E1: #e1e1e1;
    --g-D2: #d2d2d2;
}

html {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    scroll-behavior: smooth;
}

body {
    background-color: var(--g-F1);
    color: #7e7e7e;
    font-family: "Lato", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
}

body {
    overflow-x: hidden;
}

.text-2xl, .text-xl, .text-lg {
    line-height: 1.1 !important;
}

.top-100 {
    top: 100%;
}

.bg-b {
    background-color: var(--b);
}

.bg-b-hover {
    background-color: var(--bl);
}

.text-b-hover {
    color: var(--bl);
}

.box-border-b {
    border: 3px solid var(--g-F1);
    color: var(--g-A8);
}

.box-border-b:hover {
    border-color: var(--b);
    color: var(--b);
}

a.text-b:hover {
    color: var(--bl);
}

.border-blue {
    border: 1px solid var(--b);
}

.border-blue-b {
    border-bottom: 1px solid var(--b);
}

.text-b {
    color: var(--b);
}

.bg-hover-b {
    transition: background-color 100ms;
}

.bg-hover-b:hover {
    background-color: var(--b);
    color: #ffffff !important;
}

.selected-category {
    background-color: var(--b);
    color: #ffffff !important;
}

.text-hover-b:hover {
color: var(--b);
}

.bg-hover-b:hover .text-b,
.bg-hover-b:hover .text-gray-A8 {
    color: #ffffff !important;
}

.text-gray-A8 {
    color: var(--g-A8);
}

.bg-gray-A8 {
    background-color: var(--g-A8);
}

.bg-gray-F1 {
    background-color: var(--g-F1);
}

.border-F1 {
    border: 1px solid var(--g-F1);
}

.bg-gray-E1 {
    background-color: var(--g-E1);
}

.bg-gray-D2 {
    background-color: var(--g-D2);
}

.bg-hover-b .hover-img, .bg-hover-b:hover .shown-img {
    opacity: 0;
    transition: opacity 100ms;
}

.bg-hover-b:hover .hover-img, .bg-hover-b .shown-img {
    opacity: 1;
    transition: opacity 100ms;
}

.client-logos img {
    filter: saturate(0);
    opacity: 0.5;
    transition: filter 1000ms, opacity 800ms;
}

.client-logos img:hover {
    opacity: 1;
    filter: saturate(1);
}

.nav-btn {
    border: 1px solid #ddd;
}

.nav-btn:hover {
    background-color: #ddd;
}

.nav-btn span {
    display: inline-block;
    width: 1.5rem;
    height: 0.15rem;
    background-color: #888;
}

.nav-btn span:nth-child(2) {
    height: 0.08rem;
}

@media screen and (max-width: 768px) {
    .drop-box-list {
        max-height: 0;
        pointer-events: none;
        transition: max-height 300ms;
    }
  
    .industries-list-show {
        max-height: 100rem !important;
        pointer-events: initial !important;
    }

    .more-list-show {
        max-height: 100rem !important;
        pointer-events: initial !important;
    }
  
    .drop-box .drop-item:last-child {
        border-bottom: 1px solid #dbdbdb;
    }

    .features .features-list div.grid {
        border-bottom: 1px solid #dbdbdb;
    }

    .features .features-list {
        max-height: 0;
        pointer-events: none;
        transition: max-height 300ms;
    }

    .features-list-show {
          max-height: 100rem !important;
          pointer-events: initial !important;
    }

    .nav-list {
        max-height: 0;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        transition: max-height 300ms, clip-path 600ms;
    }

    .nav-show {
        max-height: 200rem;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        transition: max-height 300ms, clip-path 0ms;
    }

    .drop-box .drop-item:last-child {
        border-bottom: none;
    }
}


@media screen and (min-width: 768px) {
    .drop-item {
        display: none;
        border-top: 1px solid transparent;
        border-bottom: 1px solid transparent;
    }
  
    .drop-item:hover {
        border-top: 1px solid var(--b);
        border-bottom: 1px solid var(--b);
    }
  
    .drop-box:hover .drop-item {
        display: block;
    }
  
    .features .features-list {
        display: none;
    }
  
    .features:hover .features-list {
        display: block;
    }
}

.input-border {
    border: 1px solid #e0e0e0;
}

.input-border:focus {
    border: 1px solid var(--b);
    outline: none;
}

.nav-search:hover .nav-search-input, .nav-search:hover .nav-search-btn {
    background-color: #fff;
    transition: background-color 800ms;
}

.nav-search .nav-search-btn div {
    border-top-left-radius: 0.375rem !important;
    border-bottom-left-radius: 0.375rem !important;
    transition: border-top-left-radius 800ms, border-bottom-left-radius 800ms;
}

.nav-search:hover .nav-search-btn div {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.nav-search .nav-search-input {
    position: absolute;
    top: 0;
    right: 2rem;
    transform: translateX(100%);
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
    transition: transform 800ms, clip-path 800ms;
}

.nav-search:hover .nav-search-input {
    position: absolute;
    top: 0;
    right: 2rem;
    transform: translateX(0);
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
    transition: transform 800ms, clip-path 800ms;
}

.nav-search-btn input {
    display: none;
}

.nav-search:hover .nav-search-btn input {
    display: block;
}